@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}
.bg-Modal{
    background-color:#289BDE ;
}
.width-75{
    width: 80% !important;
}
.width-50{
    width: 50%;
}

.customeButton{
    font-family: 'Poppins', sans-serif;
    background-color: #289BDE;
    color: #fff;
    border: 0px;
    padding: 10px 20px;
    border-radius: 5px;
}
.modalButton{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #289BDE;
    border: 0px;
    padding: 10px 20px;
    border-radius: 5px;
}
.h1{
    font-size:55px !important;
    font-weight:600 !important;
}
.p{
    font-size:18px !important;
    font-weight:400 !important;
}
.courseDetails p{
    font-size: 16px !important;
}
.courseDetails span{
    font-size: 16px !important;
    color: #289BDE;
    font-weight: 600;
}


.carousel-item{
    height: 600px;
    width: 100%;
    background-size: cover;
}
.bannerImg{
    background-image: url(../images/cover/cover-1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.bannerImg1{
    background-image: url(../images/cover/cover-2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.bannerImg2{
    background-image: url(../images/cover/cover-3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.slider-caption{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}





.footerMenu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding-left: 0px;

}

.footerMenu ul li{
    list-style: none;
    margin: 10px 15px;
}
.footerMenu ul li a{
    text-decoration: none;
    color: rgb(212, 212, 212);
}
.fa-facebook-f {
    background: #9b9b9b66;
    padding: 7px 10px;
    border-radius: 15px;
    color: rgb(128, 128, 128);
    transition: 0.4s;
}
.fa-facebook-f:hover {
    background-color: #fff !important;
    color: #000;
}
.fa-instagram {
    background: #9b9b9b66;
    padding: 7px 9px;
    border-radius: 15px;
}
.fa-instagram:hover {
    background-color: #fff !important;
    color: #000;
}
.fa-twitter {
    background: #9b9b9b66;
    padding: 7px 8px;
    border-radius: 15px;
}
.fa-twitter:hover {
    background-color: #fff !important;
    color: #000;
}

@media (max-width: 600px){    
    .h1{
        font-size:26px !important;
        font-weight:600 !important;
    }
    .p{
        font-size:14px !important;
        font-weight:400 !important;
    }
    .customeButton{
        padding: 7px 15px;
    }
    .courseContent{
        padding: 15px 15px;
    }
    .width-75{
        width: 90% !important;
    }
    .width-50{
        width: 80%;
    }
    .carousel-item{
        height: 300px; 
    }
}

@media (min-width: 600px) and (max-width: 999px){
    .h1{
        font-size:35px !important;
        font-weight:600 !important;
    }
    .p{
        font-size:14px !important;
        font-weight:400 !important;
    }
    .customeButton{
        padding: 7px 15px;
    }
    .courseContent{
        padding: 15px 15px;
    }
    .width-50{
        width: 85%;
    }
    .carousel-item{
        height: 350px; 
    }
}

@media (min-width: 999px) and (max-width: 1199px){
    .h1{
        font-size:45px !important;
        font-weight:600 !important;
    }
    .width-50{
        width: 80%;
    }
}