@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}
.bg-Modal{
    background-color:#289BDE ;
}

.customeButton{
    font-family: 'Poppins', sans-serif;
    background-color: #289BDE;
    color: #fff;
    border: 0px;
    padding: 10px 20px;
    border-radius: 5px;
}
.modalButton{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #289BDE;
    border: 0px;
    padding: 10px 20px;
    border-radius: 5px;
}
.carousel-caption{
    top: 9.25rem !important;
    width: 50%;
}
.h1{
    font-size:55px !important;
    font-weight:600 !important;
}
.p{
    font-size:18px !important;
    font-weight:400 !important;
}
.courseDetails p{
    font-size: 16px !important;
}
.courseDetails span{
    font-size: 16px !important;
    color: #289BDE;
    font-weight: 600;
}

@media (max-width: 600px){    
    .h1{
        font-size:26px !important;
        font-weight:600 !important;
    }
    .carousel-caption{
        left: 5% !important;
        top: 3rem !important;
        width: 90%;
    }
    .carousel-item img{
        height: 300px !important;
    }
    .p{
        font-size:14px !important;
        font-weight:400 !important;
    }
    .customeButton{
        padding: 7px 15px;
    }
    .courseContent{
        padding: 15px 15px;
    }
}

@media (min-width: 600px) and (max-width: 768px){
    .h1{
        font-size:35px !important;
        font-weight:600 !important;
    }
    .carousel-caption{
        left: 5% !important;
        top: 5rem !important;
        width: 90%;
    }
    .carousel-item img{
        height: 350px !important;
    }
    .p{
        font-size:14px !important;
        font-weight:400 !important;
    }
    .customeButton{
        padding: 7px 15px;
    }
    .courseContent{
        padding: 15px 15px;
    }
}

@media (min-width: 768px) and (max-width: 1199px){
    .h1{
        font-size:45px !important;
        font-weight:600 !important;
    }
    .carousel-caption{
        left: 14% !important;
        top: 5.75rem !important;
        width: 70%;
    }
    .carousel-item img{
        height: 400px !important;
    }
}